.card__art-1 {
    background-color: #062226;
    color: beige;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    border-style: dotted;
}

.card__header {
    position: relative;
}

.card__container {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    background-color: black;
    padding: 3px;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__status-circle {
    width: 14px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.Dead {
    background-color: red;
}

.Alive {
    background-color: greenyellow;
}

.unknown {
    background-color: gray;
}

.card__sec-1 {
    padding: 20px;

}

.card__name {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}

.card__container-ul {
    display: grid;
    gap: 14px;
}

.card__li {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 500;
}

.card__span {
    color: #ccc9;
    transform: translateX(10px);
}